* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    color: #fff;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #020617;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    color: #38bdf8;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0ea5e9, #1e293b);
}

.hero span {
    color: #facc15;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: #facc15;
    cursor: pointer;
    border-radius: 5px;
}

/* Section */
section {
    padding: 100px 50px;
    text-align: center;
}

.skill-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
}

.skill-box div {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

/* Form */
form {
    max-width: 400px;
    margin: auto;
}

form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

/* Footer */
footer {
    background: #020617;
    padding: 20px;
    text-align: center;
}

.profile-container {
    width: 100px;        /* Ukuran kecil */
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    border: 3px solid #facc15;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Crop otomatis */
}

.identity {
    font-size: 14px;
    color: #e5e7eb;
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

